
body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary{
  color:$color-white;
  /* 在用animation時有時候會莫名地造成畫面小小的shaking 用這個屬性可以解決(原因不明)  這屬性能讓背後的屬性不被看到 */
  backface-visibility: hidden;

  &--main,&--sub{
      display: block;
  }
  
  &--main{
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
  
      /* animation-iteration-count: infinite; 設定動畫要載幾次 */   
  
  }
  &--sub{
      position: relative;
      left: -0.5rem;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      animation: moveInRight 1s ease-in-out;
  }
}


.heading-secondary{
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;

  &:hover{
    transform: skewY(2deg) skewX(20deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}